* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.th-primary-color {
  background-color: #ffc107;
}
#header-banner {
  width: 100%;
  height: 650px;
  background-image: url("../images/banner_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-color: #3b3838;
  background-blend-mode: multiply;
}
.th-w-450 {
  max-width: 450px;
}
@media screen and (max-width: 576px) {
  #header-banner {
    width: 100%;
    height: 175px;
  }
}